<!DOCTYPE html>
<html
        lang="en"
        class="dark-style layout-navbar-fixed layout-menu-fixed customizer-hide"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="{{ url_for('static',path='/assets/') }}"
        data-template="vertical-menu-template"
>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Кошельки</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',path='/assets/img/favicon/favicon.ico') }}"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>


    <!-- Icons -->
    <link rel="stylesheet" href="{{ url_for('static',path='/assets/vendor/fonts/fontawesome.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',path='/assets/vendor/fonts/tabler-icons.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',path='/assets/vendor/fonts/flag-icons.css') }}"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',path='/assets/vendor/css/rtl/core.css') }}"
          class="template-customizer-core-css"/>
    <link rel="stylesheet" href="{{ url_for('static',path='/assets/vendor/css/rtl/theme-default.css') }}"
          class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="{{ url_for('static',path='/assets/css/demo.css') }}"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/node-waves/node-waves.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/typeahead-js/typeahead.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/toastr/toastr.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/animate-css/animate.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/sweetalert2/sweetalert2.css"/>
    <!-- Page CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/css/pages/page-profile.css"/>
    <!-- Helpers -->
    <script src="/static/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="/static/assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/static/assets/js/config.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
                <a href="" class="app-brand-link">
              <span class="app-brand-logo demo">
                <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
                          fill="#7367F0"></path>
                  <path
                          opacity="0.06"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z"
                          fill="#161616"></path>
                  <path
                          opacity="0.06"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z"
                          fill="#161616"></path>
                  <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
                          fill="#7367F0"></path>
                </svg>
              </span>
                    <span class="app-brand-text demo fw-bold" style="color: rgba(255,255,255,0.74)">Crypto Wallet</span>
                </a>
                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-primary ms-auto">
                    <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
                    <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
                </a>
            </div>
            <div class="menu-inner-shadow"></div>
            <ul class="menu-inner py-1">
                <li class="menu-item">
                    <a href="http://127.0.0.1:8000/profile/" class="menu-link">
                        <div>Профиль</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="http://127.0.0.1:8000/wallets/" class="menu-link">
                        <div>Кошельки</div>
                    </a>
                </li>
                <li class="menu-item active">
                    <a href="http://127.0.0.1:8000/ibay/" class="menu-link">
                        <div>iBay</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="http://127.0.0.1:8000/chat/" class="menu-link">
                        <div>Чат</div>
                    </a>
                </li>

            </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <nav class="layout-navbar navbar-nav-right d-flex align-items-center bg-navbar-theme navbar-detached"
                 id="layout-navbar">
                <!--Menu toggle button-->
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="ti ti-menu-2 ti-sm"></i>
                    </a>
                </div>
                <!-- Username and Avatar-->
                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <li class="nav-item mx-5">
                                <span class="font-monospace user-name-field mx-3"
                                      style="font-size: large">John Doe</span>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link logout-button" href=""><i
                                    class="tf-icons navbar-icon ti ti-lock-open ti-xs me-1"></i> Logout</a>
                        </li>
                        <!-- User -->
                        <li class="nav-item">
                            <div class="avatar avatar-online">
                                <img src="/static/assets/img/avatars/6.png" alt="" class="h-100 profile-image">
                            </div>
                        </li>
                        <!--/ User -->
                    </ul>
                </div>

                <!-- Search Small Screens -->
                <div class="navbar-search-wrapper search-input-wrapper d-none">
                    <input type="text" class="form-control search-input container-xxl border-0" placeholder="Search..."
                           aria-label="Search...">
                    <i class="ti ti-x ti-sm search-toggler cursor-pointer"></i>
                </div>
            </nav>
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <!--PRODUCTS AND ORDER BLOCK-->
                <div class="container-fluid flex-grow-1 container-p-y">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-3"><h3>Продукты</h3></div>
                                <div class="col-sm-3 offset-sm-6 text-end">
                                    <button class="btn create-product-button"
                                            style="background-color: #00a6ba; color: white">Создать товар
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row products-list">
                            </div>
                            <!--PRODUCT TEMPLATE-->
                            <div id="product-template" style="display: none;" class="col-sm-6">
                                <div class="col-sm-12  mb-5 product-div card">
                                    <div class="card-body d-flex">
                                        <!--PRODUCT IMAGE-->
                                        <div class="col-sm-3 text-center">
                                            <img src="/static/assets/img/ethereum/ethereum.png" alt=""
                                                 style="max-height: 200px;" class="product-image img-fluid w-100">
                                        </div>
                                        <div class="col-sm-8 offset-sm-1 ">
                                            <div class="d-flex flex-column">
                                                <span class="card-text">Название: <span
                                                        class="title-text">1</span></span>
                                                <hr>
                                                <span class="card-text">Адрес: <a class="address-text"
                                                                                  href="#">1</a></span>
                                                <hr>
                                                <span class="card-text">Цена: <span
                                                        class="price-text">1</span></span>
                                                <hr>
                                                <div class="col-sm-2">
                                                    <button class="btn buy-product-button"
                                                            style="background-color: #126089; color: #ffffff">Купить
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card mt-5">
                        <div class="card-header"><h3>Заказы</h3></div>
                        <div class="card-body">
                            <div class="row orders-list">

                            </div>
                            <!--ORDER TEMPLATE-->
                            <div id="order-template" class="col-sm-6" style="display: none;">
                                <div class="col-sm-12  mb-5 product-div card">
                                    <div class="card-body d-flex">
                                        <!--PRODUCT IMAGE-->
                                        <div class="col-sm-3 text-center">
                                            <img src="/static/assets/img/ethereum/ethereum.png" alt=""
                                                 style="max-height: 200px;" class="order-image img-fluid w-100">
                                        </div>
                                        <div class="col-sm-8 offset-sm-1 ">
                                            <div class="d-flex flex-column">
                                                <span>Название: <span
                                                        class="title-text">1</span></span>
                                                <hr>
                                                <span>Транзакция: <a class="transaction-text"
                                                                     href="#">1</a></span>
                                                <hr>
                                                <span>Цена: <span
                                                        class="price-text">1</span></span>
                                                <hr>
                                                <span>Время заказа: <span class="order-time"></span></span>
                                                <hr>
                                                <span>Статус: <span class="order-status"></span></span>
                                                <hr>
                                                <span>Возврат: <a class="order-return"></a></span>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Content -->
                <!--CREATE PRODUCT MODAL-->
                <div class="modal" tabindex="-1" id="create-product-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Создать товар</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!--PRODUCT NAME-->
                                <div class="input-group">
                                    <span class="input-group-text">Название</span>
                                    <input type="text" class="form-control product-name-input"
                                           placeholder="Введите название товара"
                                           aria-label="Name"
                                           aria-describedby="Name">
                                </div>
                                <!--WALLETS SELECT-->
                                <div class="input-group mt-3">
                                    <span class="input-group-text">Кошелёк</span>
                                    <select class="form-select wallet-select" aria-label="Wallet select">
                                    </select>
                                </div>
                                <!--PRICE-->
                                <div class="input-group mt-3">
                                    <label class="input-group-text">Цена</label>
                                    <input type="number" min="0" class="form-control product-price-input"
                                           placeholder="Введите цену">
                                </div>
                                <!--PRODUCT IMAGE-->
                                <div class="input-group mt-3">
                                    <label class="input-group-text" for="product-image-upload">Фото</label>
                                    <input type="file" class="form-control" id="product-image-upload">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить
                                </button>
                                <button type="button" class="btn btn-primary create-product-submit">Создать</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--BUY PRODUCT MODAL-->
                <div class="modal" tabindex="-1" id="buy-product-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Оплата товара <b class="product-name-title"></b></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group">
                                    <span class="input-group-text">Кошёлек</span>
                                    <select class="form-select buy-product-wallet-select" aria-label="Wallet select">
                                    </select>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить
                                </button>
                                <button type="button" class="btn btn-primary buy-product-submit">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TRANSACTION MODAL-->
                <div class="modal" tabindex="-1" id="transaction-link-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Отправка произведена.</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <span>Отправка произведена. <a href=""
                                                               class="transaction-link">Ссылка на транзакцию.</a></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/static/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/static/assets/vendor/libs/popper/popper.js"></script>
<script src="/static/assets/vendor/js/bootstrap.js"></script>
<script src="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/static/assets/vendor/libs/node-waves/node-waves.js"></script>

<script src="/static/assets/vendor/libs/hammer/hammer.js"></script>
<script src="/static/assets/vendor/libs/i18n/i18n.js"></script>
<script src="/static/assets/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="/static/assets/vendor/libs/toastr/toastr.js"></script>
<script src="/static/assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/static/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="/static/assets/vendor/libs/moment/moment.js"></script>
<script src="/static/assets/vendor/libs/flatpickr/flatpickr.js"></script>
<!-- Main JS -->
<script src="/static/assets/js/main.js"></script>


<!-- Page JS -->


<!--JQUERY VALIDATION-->
<script src="/static/dist/plugins/jquery_validation/js/jquery.validate.min.js"></script>
<script src="/static/dist/plugins/jquery_validation/js/additional-methods.min.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

<!--SOCKETIO-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>

<!--SWEET ALERT2-->
<script src="/static/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
{#<script src="/static/assets/js/extended-ui-sweetalert2.js"></script>#}
<!--JQUERY VALIDATION LOCALIZATION-->
<script src="/static/dist/plugins/jquery_validation/localization/messages_ru.min.js"></script>
<!--CUSTOM SCRIPTS-->
<script src="/static/scripts/js/ibay.js" type="module"></script>
</body>
</html>
