<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
</head>
<body>
<img src="https://cryptowalletbucket.s3.amazonaws.com/images/f5485264-621b-4760-bda6-02e23b06cba6.jpg"
     alt="">
<button onClick="sendMsg()">Hit Me</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js">
</script>
<script>
    const socket = io("http://localhost:8001");

    function sendMsg() {
        socket.emit("message", "HELLO WORLD");
    }
</script>
</body>
</html>
