<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
</head>
<body>
<div class="container">
    <img src="https://cryptowalletbucket.s3.amazonaws.com/images/f5485264-621b-4760-bda6-02e23b06cba6.jpg"
         alt="">
    <button class="click-button">Hit Me</button>
    <textarea cols="20" rows="20" class="chat-area"></textarea>
    <input type="text" class="chat-message-input">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js">
</script>
<script>
    let socket

    // AUTOSCROLL
    function auto_scroll(element) {
        $(element).scrollTop($(element)[0].scrollHeight)
    }

    $(document).ready(function () {

        let chat_messages = $.ajax({
            url: 'http://localhost:8000/get-messages/?limit=10',
            success: function (response) {
                let data = response['data']
                console.log(data.length)
                for (let i = data.length-1; i >= 0; i--) {
                    $('.chat-area').append(`\n${data[i].text}`)
                }
            }
        })
        // socket connection to namespace chat
        socket = io('ws://localhost:8001/chat',
            {
                transports: ["websocket", 'polling'],
                autoConnect: true,
            }
        )
        // socket connected event
        socket.on("connect", () => {
            console.log('Socket connected')
        });

        socket.on("error", (error) => {
            console.log(error)
        });
        socket.on("ping", () => {
            console.log('ping')
        });
        // socket connected event
        socket.on("disconnect", () => {
            console.log('Socket disconnected')

        });
        // chat message event
        socket.on('chat_message', function (data) {
            console.log(data)
            console.log('Received message:', data.message);
            $('.chat-area').append(`\n${data.message}`)
        });

    })
    $('.click-button').click(() => {
        socket.emit('chat', {'message': $('.chat-message-input').val()});
        $.ajax({
            url: `http://localhost:8000/create-message/`,
            method: 'POST',
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                text: $('.chat-message-input').val(),
                image: '',
            }),
            success: function (response) {

            },
            error: function (error) {
                console.log(error)
            }
        })

    })

</script>
</body>
</html>
