<!DOCTYPE html>
<html
        lang="en"
        class="dark-style layout-navbar-fixed layout-menu-fixed customizer-hide"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="{{ url_for('static',path='/assets/') }}"
        data-template="vertical-menu-template"
>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Кошельки</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',path='/assets/img/favicon/favicon.ico') }}"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>


    <!-- Icons -->
    <link rel="stylesheet" href="{{ url_for('static',path='/assets/vendor/fonts/fontawesome.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',path='/assets/vendor/fonts/tabler-icons.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',path='/assets/vendor/fonts/flag-icons.css') }}"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',path='/assets/vendor/css/rtl/core.css') }}"
          class="template-customizer-core-css"/>
    <link rel="stylesheet" href="{{ url_for('static',path='/assets/vendor/css/rtl/theme-default.css') }}"
          class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="{{ url_for('static',path='/assets/css/demo.css') }}"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/node-waves/node-waves.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/typeahead-js/typeahead.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/toastr/toastr.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/animate-css/animate.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/sweetalert2/sweetalert2.css"/>
    <!-- Page CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/css/pages/page-profile.css"/>
    <!-- Helpers -->
    <script src="/static/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="/static/assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/static/assets/js/config.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
                <a href="" class="app-brand-link">
              <span class="app-brand-logo demo">
                <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
                          fill="#7367F0"></path>
                  <path
                          opacity="0.06"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z"
                          fill="#161616"></path>
                  <path
                          opacity="0.06"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z"
                          fill="#161616"></path>
                  <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
                          fill="#7367F0"></path>
                </svg>
              </span>
                    <span class="app-brand-text demo fw-bold" style="color: rgba(255,255,255,0.74)">Crypto Wallet</span>
                </a>
                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-primary ms-auto">
                    <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
                    <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
                </a>
            </div>
            <div class="menu-inner-shadow"></div>
            <ul class="menu-inner py-1">
                <li class="menu-item">
                    <a href="/profile/" class="menu-link">
                        <div>Профиль</div>
                    </a>
                </li>
                <li class="menu-item active">
                    <a href="/wallets/" class="menu-link">
                        <div>Кошельки</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/ibay/" class="menu-link">
                        <div>iBay</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/chat/" class="menu-link">
                        <div>Чат</div>
                    </a>
                </li>

            </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <nav class="layout-navbar navbar-nav-right d-flex align-items-center bg-navbar-theme navbar-detached"
                 id="layout-navbar">
                <!--Menu toggle button-->
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="ti ti-menu-2 ti-sm"></i>
                    </a>
                </div>
                <!-- Username and Avatar-->
                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <li class="nav-item mx-5">
                                <span class="font-monospace user-name-field mx-3"
                                      style="font-size: large">John Doe</span>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link logout-button" href=""><i
                                    class="tf-icons navbar-icon ti ti-lock-open ti-xs me-1"></i> Logout</a>
                        </li>
                        <!-- User -->
                        <li class="nav-item">
                            <div class="avatar avatar-online">
                                <img src="/static/assets/img/avatars/6.png" alt="" class="h-100 profile-image">
                            </div>
                        </li>
                        <!--/ User -->
                    </ul>
                </div>

                <!-- Search Small Screens -->
                <div class="navbar-search-wrapper search-input-wrapper d-none">
                    <input type="text" class="form-control search-input container-xxl border-0" placeholder="Search..."
                           aria-label="Search...">
                    <i class="ti ti-x ti-sm search-toggler cursor-pointer"></i>
                </div>
            </nav>
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <!--WALLETS BLOCK-->
                <div class="container-fluid flex-grow-1 container-p-y">
                    <div class="card">
                        <div class="card-header"><h3>Кошельки</h3></div>
                        <div class="card-body">
                            <div class="row wallets-list">
                            </div>
                            <!--WALLET TEMPLATE-->
                            <div id="wallet-template" style="display: none;" class="col-sm-6">
                                <div class="col-sm-12 d-flex mb-5 wallet-div">
                                    <!--WALLET ASSET IMAGE-->
                                    <div class="col-sm-2">
                                        <img src="/static/assets/img/ethereum/ethereum.png" alt=""
                                             style="max-height: 100px;" class="wallet-asset-image">
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="d-flex flex-column">
                                            <span style="font-weight:bolder; overflow: hidden;

                                              ">Адрес: <a
                                                    href="" class="wallet-address"
                                                    style="font-weight:bolder;"></a> </span>
                                            <span class="mt-2" style="font-weight:bolder;">Баланс: <span
                                                    class="balance-amount"
                                                    style="font-weight:bolder;">195</span> ETH</span>
                                            <div class="row mt-2">
                                                <div class="col-sm-4">
                                                    <button class="btn watch-transactions-button"
                                                            style="background: #0a6aa1; color: #fff">
                                                        Посмотреть
                                                        транзакции
                                                    </button>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button class="btn btn-success send-transaction">Отправить
                                                        транзакцию
                                                    </button>
                                                </div>
                                                <div class="col-sm-4">
                                                    <a href="https://sepoliafaucet.com/" target="_blank"
                                                       class="btn btn-warning overflow-hidden">Получить бесплатные
                                                        ETH</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- / Content -->
                <!--IMPORT WALLET MODAL-->
                <div class="modal" tabindex="-1" id="send-transaction-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Отправка ETH</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group">
                                    <span class="input-group-text">Получатель :</span>
                                    <input type="text" class="form-control to-address-input" placeholder="Введите адрес"
                                           aria-label="Address"
                                           aria-describedby="Address">
                                </div>
                                <div class="input-group mt-3">
                                    <span class="input-group-text">Количество :</span>
                                    <input type="text" class="form-control eth-amount" placeholder="Введите количество"
                                           aria-label="Amount"
                                           aria-describedby="Amount">
                                </div>
                                <div class="error-list mt-2 d-flex flex-column">
                                    <span class="address-error" style="color: #d03131"></span>
                                    <span class="value-error" style="color: #d03131"></span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить
                                </button>
                                <button type="button" class="btn btn-primary send-transaction-button">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TRANSACTION HASH MODAL-->
                <!--IMPORT WALLET MODAL-->
                <div class="modal" tabindex="-1" id="hash-transaction-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Отправка произведена.</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <span>Отправка произведена. <a href=""
                                                               class="transaction-link">Ссылка на транзакцию.</a></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--WATCH TRANSACTIONS MODAL-->
                <div class="modal modal-xl" tabindex="-1" id="watch-transactions-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Отправка произведена.</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="card">
                                    <h5 class="card-header text-center watch-transactions-header">Список транзакций
                                        ETH</h5>
                                    <div class="card-datatable text-nowrap">
                                        <div
                                                class="dataTables_wrapper dt-bootstrap5 no-footer">
                                            <div class="table-responsive">
                                                <table
                                                        id="watch-transactions-datatable"
                                                        aria-describedby="watch-transactions-datatable"
                                                        class="dt-row-grouping table dataTable dtr-column">
                                                    <thead>
                                                    <tr>
                                                        <th>Txn hash</th>
                                                        <th>From</th>
                                                        <th>To</th>
                                                        <th>Value</th>
                                                        <th>Age</th>
                                                        <th>Txn Fee</th>
                                                        <th>Status</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/static/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/static/assets/vendor/libs/popper/popper.js"></script>
<script src="/static/assets/vendor/js/bootstrap.js"></script>
<script src="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/static/assets/vendor/libs/node-waves/node-waves.js"></script>

<script src="/static/assets/vendor/libs/hammer/hammer.js"></script>
<script src="/static/assets/vendor/libs/i18n/i18n.js"></script>
<script src="/static/assets/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="/static/assets/vendor/libs/toastr/toastr.js"></script>
<script src="/static/assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/static/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="/static/assets/vendor/libs/moment/moment.js"></script>
<script src="/static/assets/vendor/libs/flatpickr/flatpickr.js"></script>
<!-- Main JS -->
<script src="/static/assets/js/main.js"></script>


<!-- Page JS -->


<!--JQUERY VALIDATION-->
<script src="/static/dist/plugins/jquery_validation/js/jquery.validate.min.js"></script>
<script src="/static/dist/plugins/jquery_validation/js/additional-methods.min.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

<!--SOCKETIO-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>

<!--SWEET ALERT2-->
<script src="/static/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
{#<script src="/static/assets/js/extended-ui-sweetalert2.js"></script>#}
<!--JQUERY VALIDATION LOCALIZATION-->
<script src="/static/dist/plugins/jquery_validation/localization/messages_ru.min.js"></script>
<!--CUSTOM SCRIPTS-->
<script src="/static/scripts/js/wallets.js" type="module"></script>
</body>
</html>
